{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100|Roboto:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/mafia.css">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <title>Mafia Accusations</title>
    <style>
        h1 {
            font-family: 'Raleway', sans-serif;
        }

        body {
            background-color: #333333;
            color: #ffffff;
            font-family: 'Roboto', sans-serif;
            margin: 0 auto;
            width: 900px;
            text-align: center;
        }

        a:visited, a:link {
            color: white;
        }

        .content {
            background-color: #444444;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<div id="status">
</div>
<h1>Mafia</h1>
{% for message in messages %}
    {{ message }}<br>
{% endfor %}<br>
<div class="content" style="padding: 5px;">
    <div align="center">
        Current Accusation Tallies:
        <table style="margin: 0 10px 10px;">
            <tr>
                <td width="150">Name</td>
                <td>Accusations</td>
            </tr>
            {% for votecount in votecounts %}
                <tr>
                    {% with votecount|first as voteuser %}
                        <td><a href="/users/{{ voteuser.pk }}"> {{ voteuser.get_full_name }}</a></td>
                    {% endwith %}
                    <td>{{ votecount|last }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    Today's Accusations:
    <div style="text-align: left; margin: auto; width: 450px">
        {% for vote in votes %}
            {{ vote.time }}: <a href="/users/{{ vote.voter.pk }}">{{ vote.voter.get_full_name }}</a>
            {% if vote.is_cancel %}
                cancelled their accusation
            {% else %}
                accused <a href="/users/{{ vote.votee.pk }}">{{ vote.votee.get_full_name }}</a>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
        {% if can_vote %}
            <form style="margin: 10px;" action="{% url 'voting:vote' %}" method="post">
                {% csrf_token %}
                Accuse:
                <select name="votee" required title="User">
                    <option value=-1>Nobody</option>
                    {% for user in active_users %}
                        <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Lynch them!</button>
            </form>
        {% else %}
            It's not in voting hours!
        {% endif %}
        <form style="margin: 10px;" action="{% url 'voting:change_pwd' %}" method="post">
            {% csrf_token %}
            <input type="password" name="newpwd" placeholder="Change Password">
            <input type="submit" value="Change me password">
        </form>
        <form style="margin: 10px;" action="{% url 'voting:log_out' %}" method="post">
            {% csrf_token %}
            Logged in as <a href="/users/{{ user.pk }}">{{ user.get_full_name }}</a> <input type="submit"
                                                                                            value="Log me out plz">
        </form>
        {% if user.is_superuser %}
            <form style="margin: 10px;" action="{% url 'voting:deactivate' %}" method="post">
                {% csrf_token %}
                Deactivate:
                <select name="user" required title="User">
                    {% for user in active_users %}
                        <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Deactivate them!</button>
            </form>
        {% endif %}
    {% else %}
        Login to accuse people!
        <form style="margin: 10px;" action="{% url 'voting:log_in' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit">
        </form>
    {% endif %}
    <form style="margin: 10px;" action="{% url 'voting:viewpage' %}" method="post">
        {% csrf_token %}
        Go to profile:
        <select name="user" title="user">
            {% for u in users %}
                <option value="{{ u.pk }}">{{ u.get_full_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go!">
</div>
</body>
</html>