{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100|Roboto:300' rel='stylesheet' type='text/css'>
    <title>Mafia Votes</title>
    <link rel="stylesheet" type="text/css" href="/static/mafia.css">
</head>
<body>
<div id="status">
</div>
<h1>Mafia</h1>
<div class="content">
    <table style="margin: 10px;">
        <tr>
            <td width="200">Name</td>
            <td>Votes</td>
        </tr>
        {% for votecount in votecounts %}
            <tr>
                <td>{{ votecount|first }}</td>
                <td>{{ votecount|last }}</td>
            </tr>
            {#    {{ votecount }}#}
        {% endfor %}
    </table>
    <br>
    {% for vote in votes %}
        > {{ vote }} <br>
    {% endfor %}

    {% if user.is_authenticated %}
        <form style="margin: 10px;" action="{% url 'voting:vote' %}" method="post">
            {% csrf_token %}
            Vote for:
            <select name="votee" required title="User">
                {% for user in users %}
                    <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Lynch them!</button>
        </form>
    {% else %}
        Login to vote!
        <form style="margin: 10px;" action="{% url 'voting:login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit">
        </form>
    {% endif %}
</div>
</body>
</html>